<!DOCTYPE html>
<html>
    <head>
        <meta content="text/html; charset=utf-8" http-equiv="Content-type"/>
        <title>
            <%= htmlWebpackPlugin.options.title %>
        </title>
        <link crossorigin="anonymous" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" rel="stylesheet"></link> 
        <script crossorigin="anonymous" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" src="https://code.jquery.com/jquery-3.1.1.slim.min.js">
        </script>
        <script crossorigin="anonymous" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js">
        </script>
        <script crossorigin="anonymous" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js">
        </script>
        <style type="text/css">
            .white {
                color: #fff;
            }
        </style>
    </head>
    <body>
        <div class="jumbotron jumbotron-fluid" style="background-color: rgba(255, 193, 7, 0.81);">
            <div class="container">
                <h1 class="white">
                    <%= htmlWebpackPlugin.options.title %>
                </h1>
                <p class="white">
                    Quick Bootstrap Setup
                </p>
            </div>
        </div>
        <div class="container">
            <div class="row justify-content-md-center">
                <div class="col col-md-4">
                    <div id="c01" class="card" style="width: 20rem;">
                        <img alt="Card image cap" class="card-img-top" src="http://pipsum.com/200x220.jpg">
                            <div class="card-block">
                                <h4 class="card-title">
                                    Card title
                                </h4>
                                <p class="card-text">
                                    Some quick example text to build on the card title and make up the bulk of the card's content.
                                </p>
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    Cras justo odio
                                </li>
                                <li class="list-group-item">
                                    Dapibus ac facilisis in
                                </li>
                                <li class="list-group-item">
                                    Vestibulum at eros
                                </li>
                            </ul>
                            <div class="card-block">
                                <a class="card-link" href="#">
                                    Card link
                                </a>
                                <a class="card-link" href="#">
                                    Another link
                                </a>
                            </div>
                        </img>
                    </div>
                </div>
                <div class="col col-md-4">
                    <div id="c02" class="card" style="width: 20rem;">
                        <img alt="Card image cap" class="card-img-top" src="http://pipsum.com/210x220.jpg">
                            <div class="card-block">
                                <h4 class="card-title">
                                    Card title
                                </h4>
                                <p class="card-text">
                                    Some quick example text to build on the card title and make up the bulk of the card's content.
                                </p>
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    Cras justo odio
                                </li>
                                <li class="list-group-item">
                                    Dapibus ac facilisis in
                                </li>
                                <li class="list-group-item">
                                    Vestibulum at eros
                                </li>
                            </ul>
                            <div class="card-block">
                                <a class="card-link" href="#">
                                    Card link
                                </a>
                                <a class="card-link" href="#">
                                    Another link
                                </a>
                            </div>
                        </img>
                    </div>
                </div>
                <div class="col col-md-4">
                    <div id="c03" class="card" style="width: 20rem;">
                        <img alt="Card image cap" class="card-img-top" src="http://pipsum.com/300x220.jpg">
                            <div class="card-block">
                                <h4 class="card-title">
                                    Card title
                                </h4>
                                <p class="card-text">
                                    Some quick example text to build on the card title and make up the bulk of the card's content.
                                </p>
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    Cras justo odio
                                </li>
                                <li class="list-group-item">
                                    Dapibus ac facilisis in
                                </li>
                                <li class="list-group-item">
                                    Vestibulum at eros
                                </li>
                            </ul>
                            <div class="card-block">
                                <a class="card-link" href="#">
                                    Card link
                                </a>
                                <a class="card-link" href="#">
                                    Another link
                                </a>
                            </div>
                        </img>
                    </div>
                </div>
            </div>
        </div>
        <script> 
            $(function() {
                $('#c01 .card-title, #c02 .card-title, #c03 .card-title').text(npmEs6WebpackSkeleton.hello());
                $('#c01 .card-text, #c02 .card-text, #c03 .card-text').text(window.npmEs6WebpackSkeleton.print());
            })
        </script>
    </body>
</html>
